{% block content %}
<h1>Bookmarks Storage</h1>

<div class="top">
        <a href="/">List all</a>
        ; <a href="/starred">Starred</a>
        ; <a href="{% url 'books_cbv:bookmark_new' %}">Add new entry</a>
        
        <form method='GET'>
                <input type='text' name='search' value='{{ request.GET.search }}'>
                <input class="button" type='submit' value="Search">
        </form>       
</div>

<div class='content'>    
    {% for bookmark in object_list %}
        <div class = "item">   
            <h5> <a target='_blank' title="{{bookmark.brief}}" href="{{ bookmark.url }}"> {{ bookmark.name | default:bookmark.url }} </a></h5>
            <a href="{% url 'books_cbv:bookmark_edit' bookmark.id %}">edit</a>
            </br> <a href="{% url 'books_cbv:bookmark_delete' bookmark.id %}">delete</a>                           
            </br> starred = {{ bookmark.starred }} 
            </br> Domain = {{ bookmark.hostname }}
                        
            <p> {{ bookmark.brief }} </p>

        </div>                            
    {% endfor %}
    

</div>

{% endblock %}