[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"
mypy = "*"

[packages]
bs4     = "*"
Django  = "*"
lxml    = "*"
django-pdb = "*"
pypdf2  = "*"

[requires]
python_version = "*"
