[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"
mypy = "*"
rope = "*"
autopep8 = "*"

[packages]
bs4     = "*"
Django  = "==3.2.10"
lxml    = "*"
django-pdb = "*"
pypdf2  = "*"
djangorestframework = "*"
pylint-django = "*"
uwsgi = "*"
wikipedia = "*"
django-rest-framework = "*"
django-filter = "*"
django-rest-auth = "*"
httpx = "*"

[requires]
python_version = "*"
