{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <link rel="icon" href={% static "favicon.png" %} type="image/png" sizes="16x16"> 
    <!--     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
            <!--  Reference Prevent Page Zooming in Mobile Browsers: https://davidwalsh.name/zoom-mobile-browsers -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
        <!-- Bootstrap CSS -->
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link rel="stylesheet" href={% static "bootstrap.min.css" %}>
        <link rel="stylesheet" href={% static "style.css" %}>        
       <title> Bookmark Manager</title>        
        
    </head>

<body>
    <!-- templates/registration/login.html -->
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <table border="1">
            {{ form.as_table }}        
        </table>        
        <button class="btn-sm btn-primary" type="submit">Login</button>        
    </form>   

</body>
</html>


