@font-face {
    font-family: medieval_old_english;
    /* src: url(/static/OldeEnglish.ttf); */
    src: url(/static/fonts/SktMedieval.ttf);
   
  }

 @font-face {
    font-family: unknown_font;
    src: url(/static/fonts/CoolFont.woff);
   
  }

/*  Change global style with 
 * 
 *  let root = document.documentElement;
 *  root.style.setProperty("--background-color", "gree")
 *  
 */  
:root {
    --main-background-color:  #3c3c3c; 
    --foreground-color:       white;
    --item-background-color:  #2f2f2f;

    --hyperlink-color:    lightskyblue;

    --left-row-label-color:  #1b1b1b;
    --right-row-label-color: black;

    --btn-primary-bgcolor: #007bff;
    
}

.dialog-bulk-action {
    position: fixed;
/*     top:      20px;
    left:     10px; */
    background-color: aqua;
}

.dialog-bulk-action button {
    background-color: cadetblue;
}

#the-canvas {
    border: 1px solid black;
    direction: ltr;
    width: 90%;
    filter: invert(100%);
  }

body { 
    background-color: var(--main-background-color);
    color:           var(--foreground-color);
    font-family:     'Lato', sans-serif;  

    /* Disable annoying pull-down frefresh in mobile browser 
     * (for instance ,android browsers)
     */
    overscroll-behavior-y: contain;
}

a { color: var(--hyperlink-color); }

.item_div a {
    font-weight: bold;
}

p { 
    color:     var(--foreground-color); 
    font-family: unknown_font;
    font-size: 10pt;
    font-weight: 400;
    line-height: 1.5;
}

h1 { 
    color: white; 
    font-family: medieval_old_english;
    font-size: 3.0em;
    
}

h2 { color: white; 
    font-family: medieval_old_english; 
    font-size: 3.0em;
    
}

h3 { 
    
    color:      rgb(221, 89, 89); 
    font-family:  medieval_old_english;

    margin:     20px;
    font-size:  3.0em;
    text-align: center;
}

h4 { color: white }
h5 { color: white }

.item { 
    background-color: var(--item-background-color);
    display: block;
    position: relative;
    border: 8px solid #666;
    border-radius: 30px;
    margin-top: 1%;
    max-width: 95%;
    /* background-color: #3f3f3f; */
    /* border-color: black; */
    border: 1px solid #607D8B;
    padding: 2%                
}

.item-bookmark-link {
    width:     90%;
    word-wrap: break-word;
   /* display:inline-block; */
}

.container {
    display:    block;
    visibility: visible;
    top: -100px;
  /*   margin-top: 60px; */
   /*  top: -20px; */
   /*  background: red; */
   /*  position: relative; */
}

#page-title-header {
    margin-bottom: -50px;
    margin-top: 40px;
}



.item-table-info {
    font-size: 10pt;
    font-family: 'Courier New', Courier, monospace;
    border-spacing: 5px;
    border:1px dotted #9cc5b3;
    margin-top: 10px; 

    border-radius: 1em;
    overflow: hidden;
    background: var(--item-background-color);
  
}

 th, td { 
    width:150px;               
    padding:5px;
    background-color: var(--left-row-label-color);              
 } 

.row-label {
  text-align:right ;
  background-color: var(--right-row-label-color);
}

.btn-primary {
    background-color: var(--btn-primary-bgcolor);
}

#top-panel{
    background: #4e4e50;
    border-radius: 25px;
}

.topbar {
    top: 0;
    background:  #2b2b2d;
    position:      fixed;
    z-index:       1000;
    min-width:     800px;
    padding-left:  10px;
    
  /*   border-radius: 10px; 
    padding-bottom: 50px;  */    
}

.topbar-svg-button {
    fill: rgb(116, 238, 122);
    /* background-color:  rgb(116, 238, 122); */
    margin-left: 5px;
    border-radius: 10px;
    width:  30px;
    height: 30px;
}

.topbar-svg-button:hover {
    fill:  rgb(30, 69, 95);
}

.topbar-svg-button svg {
    width: 30px;
    height: 30px;
}

.sidebar {
    overflow-y: scroll;
    visibility: hidden;
    top: 55px;
    color: #FFF;
    background: #2b2b2d;
    width: 250px;
    max-width: 250px;
    height: 100%;
    float: left;
    position: fixed;
    z-index: 1000;
    display: block;
    -webkit-transition: margin 2s;
    transition: margin 2s;
    flex:1;
}
#navbar-toggle {
    cursor: pointer;
}
#toggleView {
    margin-left: 44px;
}
.menu-icon {
    float: right;
}
.sidebar-nav {
    display: block;
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-nav li a {
    padding-left: 10px;
    font-size: 12pt;
    text-decoration: none;
    color: #FFF;
    float: left;
    text-decoration: none;
    width: 100%;
    /* height: 70px; */
    line-height: 25px;
    /* padding: 5px; */
    vertical-align: center;
}
.sidebar-nav li a:hover {
    background:#121213;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

.kbd-status {
    background-color: #d8ff46;
    color: blue;
    display: block;
}


.tag-hyperlink {
    border-radius: 10px;
    padding: 4px;
    background-color: #3c3c3c;
    color: #b6edf3;
 /*    border-color: red; */
   /*  display: block; */
}



.btn-page-listing {
    background-color: #005aff;
    margin-left: 10px;
    padding: 6px;
    border-radius: 20px;
 }


.details-controls {
    max-width:  60%;
    border: 2px solid #aaa;
    background: #1a8894;
    border-radius: 10px;
    padding: .5em .5em 0;
}

.details-controls > summary {
  padding: 4px;
  width: 200px;
  color:            white;
  background-color: var(--btn-primary-bgcolor);
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
  border-radius: 10px;
}

.details-controls-div {
    background: #025c66;
    border: 1px solid rgb(30, 255, 0); 
    border-radius: 15px;
}

/** --------- Action Menu Table Style  -----------*/

.action-menu-table {
    font-family: 'Courier New', Courier, monospace;
    border-spacing: 5px;
    width: 250px;
    margin-top: 10px; 
    
    border-radius: 1em;
    overflow: hidden;
    background:#333     
}

.action-menu-table th, td { 
    width:  200px;               
    padding:5px;
    background-color: #1b1b1b;
 } 

.action-menu-table a {
  font-size: 10pt;
  width: 100%;
  display: block;
  background-color: #1b1b1b;
}

.div-form-search {
    border-radius: 20px;
    border: 20p;
    padding: 10px;
}

/* --- Buttons for chaning  settings ----------- */

.table-buttons {
    width: 300px;
    padding: 10px;
    margin: 10px; 
    border-radius: 15px;
    background-color: #616365;
    display: block;
    
}

.table-buttons th {
    border: 0;
    width: 200px;
    display: block;
    padding: 8px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white; 
    background-color: var(--btn-primary-bgcolor);
}

.table-buttons th:hover {
    background-color: #565858;
}

.table-buttons th a {
    color:white;
    
}

.table-buttons select {
    display: block;
    background-color: #565858;
    width: 100%;
    border-radius: 5px;
    color: white;
}

.div-file-upload {
    margin: 10px;
    background-color: gray;
    width: 90%;
    border-radius: 25px;
    padding: 10px;
   
}

.div-file-upload input[type=file] {
     background-color: #323235;
     border-radius: 10px;
}

  /** =============== Mobile-specific Style ================ */
  @media only screen and (max-width: 960px) 
  {
    #top-panel {
        margin-top: 50px;
    }

    .container {
        margin-top: 30px;
    }

    .details-controls {
        max-width:  100%;
    }


  }

   /** =============== Desktop-specific Style ================ */
   @media only screen and (min-width: 960px) {

    html { width: 800px; }

    .header {
       font-size: 12pt;
       width: 100%;
    }

    .content {
      font-size:  12pt;
      width:       100%;
      /* margin:     200px 50px; */
    }

    #top-panel{
        visibility:   visible;
        width:         60%;
        position:      relative;
        display:       block;    
        margin-top:    60px;           
      /*  margin-bottom: -200px; */
        /* margin-bottom: 100px; */
        
        /* z-index:       999999; */
       /*  top: 0; */
    }

    #bookmark-list{
        margin-top: 160px;
        position: relative;
    }

    #page-title-header {
        margin-bottom: -50px;
        margin-top: 40px;
    }


 } /* End of Desktop style */

.box1 {
    width: 20px;
    height: 20px;
}


