@font-face {
    font-family: medieval_old_english;
    /* src: url(/static/OldeEnglish.ttf); */
    src: url(/static/SktMedieval.ttf);
   
  }

 @font-face {
    font-family: unknown_font;
    src: url(/static/CoolFont.woff);
   
  }

/*  Change global style with 
 * 
 *  let root = document.documentElement;
 *  root.style.setProperty("--background-color", "gree")
 *  
 */  
:root {
    --main-background-color:  #3c3c3c; 
    --foreground-color:       white;
    --item-background-color:  #2f2f2f;

    --hyperlink-color:    lightskyblue;

    --left-row-label-color:  #1b1b1b;
    --right-row-label-color: black;

    --btn-primary-bgcolor: #007bff;
    
}


#the-canvas {
    border: 1px solid black;
    direction: ltr;
    width: 90%;
    filter: invert(100%);
  }

body { 
    background-color: var(--main-background-color);
    color:           var(--foreground-color);
    font-family:     'Lato', sans-serif;  
}

a { color: var(--hyperlink-color); }

.item_div a {
    font-weight: bold;
}

p { 
    color:     var(--foreground-color); 
    font-family: unknown_font;
    font-size: 10pt;
    font-weight: 400;
    line-height: 1.5;
}

h1 { 
    color: white; 
    font-family: medieval_old_english; 
}
h2 { color: white; 
    font-family: medieval_old_english; 
}
h3 { color: white }
h4 { color: white }
h5 { color: white }

.item { 
    background-color: var(--item-background-color);
    display: block;
    position: relative;
    border: 8px solid #666;
    border-radius: 30px;
    margin-top: 1%;
    max-width: 95%;
    /* background-color: #3f3f3f; */
    /* border-color: black; */
    border: 1px solid #607D8B;
    padding: 2%                
}

.container {
    display:    block;
    visibility: visible;
    top: -100px;
  /*   margin-top: 60px; */
   /*  top: -20px; */
   /*  background: red; */
   /*  position: relative; */
}

.item-table-info {
    font-size: 10pt;
    font-family: 'Courier New', Courier, monospace;
    border-spacing: 5px;
    border:1px dotted #9cc5b3;
    margin-top: 10px; 

    border-radius: 1em;
    overflow: hidden;
    background: var(--item-background-color);
  
}

 th, td { 
    width:150px;               
    padding:5px;
    background-color: var(--left-row-label-color);              
 } 

.row-label {
  text-align:right ;
  background-color: var(--right-row-label-color);
}

.btn-primary {
    background-color: var(--btn-primary-bgcolor);
}

#top-panel{
    background: #4e4e50;
    border-radius: 25px;
}

.topbar {
    top: 0;
    background:  #2b2b2d;
    position:      fixed;
    z-index:       1000;
    width:         600px;
    padding-left:  10px; 
  /*   border-radius: 10px; 
    padding-bottom: 50px;  */    
}

.topbar-svg-button {
    fill: rgb(116, 238, 122);
    /* background-color:  rgb(116, 238, 122); */
    margin-left: 5px;
    border-radius: 10px;
    width:  30px;
    height: 30px;
}

.topbar-svg-button:hover {
    fill:  rgb(30, 69, 95);
}

.topbar-svg-button svg {
    width: 30px;
    height: 30px;
}

.sidebar {
    overflow-y: scroll;
    visibility: hidden;
    top: 55px;
    color: #FFF;
    background: #2b2b2d;
    width: 250px;
    max-width: 250px;
    height: 100%;
    float: left;
    position: fixed;
    z-index: 1000;
    display: block;
    -webkit-transition: margin 2s;
    transition: margin 2s;
    flex:1;
}
#navbar-toggle {
    cursor: pointer;
}
#toggleView {
    margin-left: 44px;
}
.menu-icon {
    float: right;
}
.sidebar-nav {
    display: block;
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-nav li a {
    padding-left: 10px;
    font-size: 12pt;
    text-decoration: none;
    color: #FFF;
    float: left;
    text-decoration: none;
    width: 100%;
    /* height: 70px; */
    line-height: 25px;
    /* padding: 5px; */
    vertical-align: center;
}
.sidebar-nav li a:hover {
    background:#121213;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

.kbd-status {
    background-color: #d8ff46;
    color: blue;
    display: block;
}


/** --------- Action Menu Table Style  -----------*/

.action-menu-table {
    font-family: 'Courier New', Courier, monospace;
    border-spacing: 5px;
    width: 250px;
    margin-top: 10px; 
    
    border-radius: 1em;
    overflow: hidden;
    background:#333     
}

.action-menu-table th, td { 
    width:  200px;               
    padding:5px;
    background-color: #1b1b1b;
 } 

.action-menu-table a {
  font-size: 10pt;
  width: 100%;
  display: block;
  background-color: #1b1b1b;
}

  /** =============== Mobile-specific Style ================ */
  @media only screen and (max-width: 960px) 
  {
    #top-panel {
        margin-top: 50px;
    }

    .container {
        margin-top: 30px;
    }

  }

   /** =============== Desktop-specific Style ================ */
   @media only screen and (min-width: 960px) {

    html { width: 800px; }

    .header {
       font-size: 12pt;
       width: 100%;
    }

    .content {
      font-size:  12pt;
      width:       100%;
      /* margin:     200px 50px; */
    }

    #top-panel{
        visibility:   visible;
        width:         60%;
        position:      relative;
        display:       block;    
        margin-top:    60px;           
      /*  margin-bottom: -200px; */
        /* margin-bottom: 100px; */
        
        /* z-index:       999999; */
       /*  top: 0; */
    }

    #bookmark-list{
        margin-top: 160px;
        position: relative;
    }


 } /* End of Desktop style */

.box1 {
    width: 20px;
    height: 20px;
}


