
{% extends "base.html" %}

{% block content %}

<div class="container" id="top-panel">
    <h1>Bookmarks Storage</h1>

    <div  class="btn-group btn-group-sm">
        <a class="btn btn-primary" 
           href="/" 
           title="List all items ordered by the latest">List all</a>
      
        ; <a class="btn btn-info" 
          href="/?view=latest" 
          title="Order by oldest">Oldest</a>

      ; <a class="btn btn-info" href="/?view=starred" 
          title="List only starred items">Starred</a>

      ; <a class="btn btn-info" href="{% url 'bookmarks:bookmark_new' %}">Add</a>                              
</div>

<div class="">
  <form method='GET' class="form-group">
      <input type='text' name='search' value='{{ request.GET.search }}'>
      <input class="btn btn-info" type='submit' value="Search">
  </form> 
</div>


</div>

<div id="bookmark-list" class="container">    
    {% for bookmark in object_list %}
        <div class = "well item ">   
            <h5> ID = {{ bookmark.id }} / <a target='_blank' title="{{bookmark.brief}}" href="{{ bookmark.url }}"> {{ bookmark.title | default:bookmark.url }} </a></h5>
                  <a class="btn btn-primary" title="Edit current item" href="{% url 'bookmarks:bookmark_edit' bookmark.id %}">Edit</a>
                  <a class="btn btn-primary" title="Delete current item" href="{% url 'bookmarks:bookmark_delete' bookmark.id %}">Delete</a>                           
            </br> Created  = {{ bookmark.created }} ; Modified = {{ bookmark.updated }}                  
            </br> starred = {{ bookmark.starred }} 
            </br> Deleted = {{ bookmark.deleted }}
            </br> Domain = <a href="/?domain={{ bookmark.hostname }}"
                              title="Filter by domain {{ bookmark.hostname }}"
                            > {{ bookmark.hostname }} </a>
                        
            <p class = ""> {{ bookmark.brief }} </p>

        </div>                            
    {% endfor %}
    

</div>

{% endblock %}
