{% extends 'base2.html' %}

{% block content %}

<h3> {{ page_title }} </h3>

<div id="div-additional-buttons"> </div>

<div id="bookmark-list" class="container">   

    {% for bookmark in object_list %}
        <div class = "well item item_div" value="{{ bookmark.id}}">   

            <h5>  
        
                 <input type="checkbox" class="bulk-checkbox" id="{{ bookmark.id }}" />                  

                  <a  class="item-bookmark-link"
                      target='_blank' 
                      title="{{bookmark.brief}}" 
                      href="{{ bookmark.url }}"> 
                      <svg class = "box1" xmlns="http://www.w3.org/2000/svg" 
                          width="1.2rem" height="1.2rem" background="blue" viewBox="0 0 16 16" 
                          focusable="false" aria-hidden="true">
                          <path class="stroke-linecap-square" d="M10 2h4v4">
                          </path><path d="M6 10l8-8"></path>
                          <path class="stroke-linejoin-round" d="M14 9.048V14H2V2h5">
                          </path>
                      </svg>
                      
                      {{  bookmark.favicon | safe }}

                      {{ bookmark.modified_title | default:bookmark.url }}                                                                        
                  </a>                  
            </h5>


            <ul>
              <li>                  
                  <a href="items?filter=domain&A0={{ bookmark.hostname }}" 
                    title="Filter by domain {{ bookmark.hostname }}" > {{ bookmark.hostname }} </a>
              </li>
              <li>
                  Starred: 

                   {%if bookmark.starred %}
                      <input  type="checkbox" 
                              class="checkbox-starred" 
                              onchange="item_set_starred(this);"
                              value="{{ bookmark.id }}"                               
                              checked/> 
                   {% else %}
                      <input type="checkbox" 
                            class="checkbox-starred" 
                             onchange="item_set_starred(this);"
                             value="{{ bookmark.id }}"/> 
                   {% endif %}
              </li>
            </ul>

            <div class="item-additional-buttons"></div>
              <a class="btn-sm btn-primary" 
                title="Actions for current bookmark" 
                href="javascript:toggle_action_menu('#action-menu-{{ bookmark.id }}')">Actions</a>

                <a class="btn-sm btn-primary btn-toggle-details" 
                    href="javascript:toggle_items_table_info( '#item-detail-{{ bookmark.id }}' );" 
                    >Details</a>

              
                <a class="btn-sm btn-primary btn-toggle-details" 
                    href="javascript:tag_add( {{ bookmark.id }} );" 
                    >Add tag</a>

               {%if bookmark.isDocumentFile %}
                   <a target="_blank" href="{{ bookmark.modifiedURL }}" title="View document in Google Driver viewer" > 
                     <img src="/static/gdriver.png"> 
                   </a>    
               {% endif %}

            <br/></br>

            <strong>Tags:</strong>

            {% for tag in bookmark.tag2_set.all %}
                <a class="tag-remove-button" href="#" 
                   onclick="tag_remove( {{ tag.id }},  {{ bookmark.id}}  );"
                   title="Remove tag from bookmark."
                >[X]</a>
                <a class="tag-hyperlink" href="/items?filter=tag-name&A0={{ tag.name }}" >{{ tag.name }}</a>
            {% endfor %}
            

            <table class="action-menu-table" 
                   id="action-menu-{{ bookmark.id }}" 
                   value="{{ bookmark.id}}"
                   style="visibility: hidden; display: none;"  >              

             <tr>
                <th> 
                  <a class="btn-sm btn-primary" title="Quick rename item" 
                      href='javascript:item_quick_rename({{ bookmark.id }}, "{{ bookmark.title | escape }}" )'>Rename</a>
                </th>
              </tr>

              <tr>
                <th> 
                  <a class="btn-sm btn-primary" title="Fetch bookmark metdata automatically" 
                     href="/items/extract_metadata?id={{ bookmark.id }}&url={{ request.get_full_path | urlencode }}">Get metadata</a>
                </th>
              </tr>

              <tr>
                <th> 
                  <a class="btn-sm btn-primary" href="items?filter=domain&A0={{ bookmark.hostname }}" title="Filter domain"> 
                    Filter this domain
                  </a>
                </th>
              </tr>

              <tr>
                <th> 
                  <a class="btn-sm btn-primary" href="#" onclick="open_url_newtab('http://{{ bookmark.hostname }}')" 
                      title="Open this domain URL in a new tab: {{ bookmark.hostname }} "> 
                    Open domain URL 
                  </a>
                </th>
              </tr>

              <tr>
                <th> 
                  <a class="btn-sm btn-primary" title="Save page to web archive (Wayback Machine)" 
                    target="_blank" href="http://web.archive.org/save/{{ bookmark.url }}">Save to WebArchive</a>                          
                </th>
              </tr>

              {% if bookmark.snapshot_exists %}
                <tr>
                  <th>
                    <a class="btn-sm btn-primary" target="_blank" title="Open file snapshot file" 
                      href="/items/view/{{ bookmark.id}}"> View snapshot </a>                                            
                  </th>
                </tr>             
              {% endif %}

              <tr>
                <th> 
                  {% if bookmark.snapshot_exists %}
                    <a class="btn-sm btn-primary" target="_blank" title="Open snapshot file" 
                       href="/snapshot/file/{{ bookmark.snapshot_file }}?title={{ bookmark.title }}">Open snapshot</a>                           
                  {% else %}
                    <a class="btn-sm btn-primary" title="Archive snapshot" href="javascript:item_snapshot( {{ bookmark.id }} );" >Archive</a>                           
                  {% endif %}                      
                </th>
              </tr>

              <tr>                  
                  <th> 
                    <a class="btn-sm btn-primary" 
                       title="Edit current item" href="{% url 'bookmarks:bookmark_edit' bookmark.id %}?url={{  request.get_full_path | urlencode }}">Edit</a>
    
                  </th>                    
                </tr>
                
                <tr>
                  <th> 
                    <a  class="btn-sm btn-primary" 
                        title="Delete current item" 
                        href="javascript:item_delete( '{{ bookmark.deleted }}' == 'True', {{ bookmark.id }}, '{{ bookmark.modified_title | escapejs }}' ); "
                     >Delete</a>                                                 
                  </th>
                </tr>
                
            </table>               
            
            
            <table  class="item-table-info" 
                    id="item-detail-{{ bookmark.id }}" 
                    style="display: none; visibility: hidden;"
                  >
                <tr>
                    <th class="row-label">Id</th>
                    <th>{{ bookmark.id }} </th>
                  </tr>
                <tr>
                  <th class="row-label">Starred</th>
                  <th>{{ bookmark.starred }} </th>
                </tr>
                <tr>
                  <th class="row-label">Type</th>
                  <th> <a href="items?filter=doctype&A0={{ bookmark.doctype }}" 
                        title="Filter by document type"> {{ bookmark.doctype }} </a> 
                  </th>
                </tr>

                <tr>
                    <th class="row-label">Keywords</th>
                    <th>  {{ bookmark.keywords }} </th>                    
                </tr>    
                <tr>
                    <th class="row-label">Domain</th>
                    <th> <a href="items?filter=domain&A0={{ bookmark.hostname }}" title="Filter by domain {{ bookmark.hostname }}" > {{ bookmark.hostname }} </a> </th>                    
                </tr>    
                <tr>
                  <th class="row-label">Created</th>
                  <th>{{ bookmark.created }}</th>
                </tr>

                <tr>
                    <th class="row-label">Modified</th>
                    <th>{{ bookmark.updated }}</th>
                  </tr>
            </table>                        

            <p class = ""> {{ bookmark.brief|default:"" }} </p>

            {% if bookmark.is_youtube_video %}
              <youtube-thumb video="{{ bookmark.youtube_id }}"></youtube-thumb>              
            {% endif %}
        </div>                            
    {% endfor %}
    

</div>

{% endblock %}
