{% extends "base.html" %}

{% block content %}

<div class="container">
        <h1> Edit/Create Bookmark Entry </h1>

        <!-- <h2><a href="{% url 'bookmarks:bookmark_list' %}">Web Site Bookmark</a>: Edit</h2> -->
        
        <form method="post">{% csrf_token %}
            <input class="btn-sm btn-primary" type="submit" value="Submit">
            <input class="brn-sm btn-primary" type="reset"  value="Reset">
            <table biorder="1"> 
                    <!-- {{ form.as_p }} -->
                    {{ form.as_table }}
            </table>                        
        </form>        
</div>

{% endblock %}