{% extends 'base2.html' %}

{% block content %}

<div id="bookmark-list" class="container">           

    {% for bookmark in object_list %}
        <div class = "well item item_div">   

            <h5>                        
                  <a target='_blank' 
                      title="{{bookmark.brief}}" 
                      href="{{ bookmark.url }}"> 
                      <svg class = "box1" xmlns="http://www.w3.org/2000/svg" 
                          width="1.2rem" height="1.2rem" background="blue" viewBox="0 0 16 16" 
                          focusable="false" aria-hidden="true">
                          <path class="stroke-linecap-square" d="M10 2h4v4">
                          </path><path d="M6 10l8-8"></path>
                          <path class="stroke-linejoin-round" d="M14 9.048V14H2V2h5">
                          </path>
                      </svg>

                        {{ bookmark.modified_title | default:bookmark.url }}                                                
                        
                  </a>
            </h5>
            
            <br/>
          <div class="item-details">

             <a class="btn-sm btn-primary" 
                title="Edit current item" href="{% url 'bookmarks:bookmark_edit' bookmark.id %}?url={{  request.get_full_path | urlencode }}">Edit</a>
                  
              {% if bookmark.deleted != True  %}
                  <a class="btn-sm btn-primary" title="Delete current item" href="{% url 'bookmarks:bookmark_delete' bookmark.id %}">Delete</a>                           
              {% endif %}

              <a class="btn-sm btn-primary" title="Fetch bookmark metdata automatically" 
                  href="/items/extract_metadata?id={{ bookmark.id }}&url={{ request.get_full_path | urlencode }}">Get metadata</a>

              {% if bookmark.snapshot_exists %}
                  <a class="btn-sm btn-primary" target="_blank" title="Open file snapshot file" href="/snapshot/file/{{ bookmark.snapshot_file }}">Open snapshot</a>                           
              {% else %}
                  <a class="btn-sm btn-primary" title="Archive snapshot" href="/snapshot/get?id={{ bookmark.id }}&url={{ request.get_full_path | urlencode }}" >Archive</a>                           
              {% endif %}

              {% comment %}
                {%if bookmark.isDocumentFile %}
                  <a target="_blank" href="{{ bookmark.modifiedURL }}" title="View document in Google Driver viewer" > <img src="{% static "gdriver.png" %}"> </a>
                {% endif %}
              {% endcomment %}

                  <br/><br/>                                

              <ul>             
                  {% if bookmark.snapshot_exists %}
                    <li>  <a class="btn-sm btn-primary" target="_blank" title="Open file snapshot file" 
                            href="/items/view/{{ bookmark.id}}"> View snapshot </a>                                            
                    </li>
                  {% endif %}
                </ul>  

            <table class="item-table-info">
                <tr>
                    <th class="row-label">Id</th>
                    <th>{{ bookmark.id }} </th>
                  </tr>
                <tr>
                  <th class="row-label">Starred</th>
                  <th>{{ bookmark.starred }} </th>
                </tr>
                <tr>
                  <th class="row-label">Type</th>
                  <th> <a href="items?filter=doctype&A0={{ bookmark.doctype }}" 
                        title="Filter by document type"> {{ bookmark.doctype }} </a> 
                  </th>
                </tr>

                <tr>
                    <th class="row-label">Keywords</th>
                    <th>  {{ bookmark.keywords }} </th>                    
                </tr>    
                <tr>
                    <th class="row-label">Domain</th>
                    <th> <a href="items?filter=domain&A0={{ bookmark.hostname }}" title="Filter by domain {{ bookmark.hostname }}" > {{ bookmark.hostname }} </a> </th>                    
                </tr>    
                <tr>
                  <th class="row-label">Created</th>
                  <th>{{ bookmark.created }}</th>
                </tr>

                <tr>
                    <th class="row-label">Modified</th>
                    <th>{{ bookmark.updated }}</th>
                  </tr>
            </table>                        

          </div>

            <p class = ""> {{ bookmark.brief|default:"" }} </p>

            {% if bookmark.is_youtube_video and request.session.video_toggle  %}
              <iframe src="https://www.youtube.com/embed/{{ bookmark.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% endif %}
        </div>                            
    {% endfor %}
    

</div>

{% endblock %}
