{% extends "base2.html" %}

{% block content %}

<a class="btn btn-info" href="/search/new"  title="Saved search">Add saved search</a>

<div id="bookmark-list" class="container">       

    {% for collection in object_list %}
    
    <div class = "well item ">   
        <a target="_blank" href="/items?filter=collection&A0={{ collection.id }}" title="{{ collection.description }}" > {{ collection.title }} </a>
        <p> {{ collection.description }} </p>
    </div>                            
    {% endfor %}
    
</div>

{% endblock %}
