
{% extends "base.html" %}

{% block content %}

<div class="container" id="top-panel">
    <h1>Bookmarks Storage</h1>

    <div  class="btn-group btn-group-sm">

       <a class="btn btn-info" href="/search/list" 
            title="Saved search">Search</a>

       <a class="btn btn-info" 
           href="/items" 
           title="List all items ordered by the latest">List all</a>
      
       <a class="btn btn-info" 
          href="/items?view=latest" 
          title="Order by oldest">Oldest</a>

      <a class="btn btn-info" href="/items?view=starred" 
          title="List only starred items">Starred</a>

      <a class="btn btn-info" href="{% url 'bookmarks:bookmark_new' %}">Add</a>                              

      <a class="btn btn-info" href="/" 
      title="Go to index or home">Index</a>

</div>

<div class="">
  <form method='GET' class="form-group">
      <input type='text' name='search' value='{{ request.GET.search }}'>
      <input class="btn btn-info" type='submit' value="Search">
  </form> 
</div>

</div>


<div id="bookmark-list" class="container">    
    <a class="btn btn-info" href="/search/new"  title="Saved search">Add saved search</a>

    {% for collection in object_list %}
    
    <div class = "well item ">   
        <a target="_blank" href="/items?collection={{ collection.id }}" title="{{ collection.description }}" > {{ collection.title }} </a>
        <p> {{ collection.description }} </p>
    </div>                            
    {% endfor %}
    

</div>

{% endblock %}
