<div class="topbar">
    <a class="topbar-svg-button" href="#" onclick="tsmain.toggle_sidebar();" 
            title="Toggle sidebar">    
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/></svg>
    </a>
    
    <a class="topbar-svg-button" href="/" title="Go to home page or index">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M13 20v-5h-2v5a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-7.59l-.3.3a1 1 0 1 1-1.4-1.42l9-9a1 1 0 0 1 1.4 0l9 9a1 1 0 0 1-1.4 1.42l-.3-.3V20a2 2 0 0 1-2 2h-3a2 2 0 0 1-2-2zm5 0v-9.59l-6-6-6 6V20h3v-5c0-1.1.9-2 2-2h2a2 2 0 0 1 2 2v5h3z"/></svg>
    </a>

    <a class="topbar-svg-button" href="/items?filter=starred" 
        title="Show only starred (favourite) bookmarks">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 5.173l2.335 4.817 5.305.732-3.861 3.71.942 5.27-4.721-2.524-4.721 2.525.942-5.27-3.861-3.71 5.305-.733 2.335-4.817zm0-4.586l-3.668 7.568-8.332 1.151 6.064 5.828-1.48 8.279 7.416-3.967 7.416 3.966-1.48-8.279 6.064-5.827-8.332-1.15-3.668-7.569z"/></svg>
    </a>

    <a class="topbar-svg-button" href="/items/new" title="Add new bookmark">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M6 2h9a1 1 0 0 1 .7.3l4 4a1 1 0 0 1 .3.7v13a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4c0-1.1.9-2 2-2zm9 2.41V7h2.59L15 4.41zM18 9h-3a2 2 0 0 1-2-2V4H6v16h12V9zm-5 4h2a1 1 0 0 1 0 2h-2v2a1 1 0 0 1-2 0v-2H9a1 1 0 0 1 0-2h2v-2a1 1 0 0 1 2 0v2z"/></svg>
    </a>

    <a class="topbar-svg-button"  href="/items?filter=doctype&A0=music" title="Filter music bookmarks" >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M8 14.54V6a1 1 0 0 1 .76-.97l12-3A1 1 0 0 1 22 3v12a4 4 0 1 1-2-3.46V4.28l-10 2.5V18a4 4 0 1 1-2-3.46zM6 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm12-3a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/></svg>
    </a>

    <a class="topbar-svg-button"  href="/items?filter=doctype&A0=news" title="Filter news bookmarks" >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M18 21H7a4 4 0 0 1-4-4V5c0-1.1.9-2 2-2h10a2 2 0 0 1 2 2h2a2 2 0 0 1 2 2v11a3 3 0 0 1-3 3zm-3-3V5H5v12c0 1.1.9 2 2 2h8.17a3 3 0 0 1-.17-1zm-7-3h4a1 1 0 0 1 0 2H8a1 1 0 0 1 0-2zm0-4h4a1 1 0 0 1 0 2H8a1 1 0 0 1 0-2zm0-4h4a1 1 0 0 1 0 2H8a1 1 0 1 1 0-2zm9 11a1 1 0 0 0 2 0V7h-2v11z"/></svg>            
    </a>

        <!-- Button in top bar for opening bulk actions window -->
    <!-- 
    <a class="topbar-svg-button"  href="#" id="btn-bulk-actions" title="Perform bulk actions. Apply actions to multiple bookmarks." >
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
            <path fill-rule="evenodd" d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
            <circle cx="3.5" cy="5.5" r=".5"/>
            <circle cx="3.5" cy="8" r=".5"/>
            <circle cx="3.5" cy="10.5" r=".5"/>
        </svg>
    </a>
    -->


    {% if page_obj.has_previous %}
        <a id="page-prev-button" title="Pagination / List previous items" class="topbar-svg-button" href="/items?page={{ page_obj.previous_page_number }}&{{url_state}}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M5.41 11H21a1 1 0 0 1 0 2H5.41l5.3 5.3a1 1 0 0 1-1.42 1.4l-7-7a1 1 0 0 1 0-1.4l7-7a1 1 0 0 1 1.42 1.4L5.4 11z"/></svg>
        </a>
    {% else %}
        <!-- <li class="btn btn-primary disabled"><span>&laquo;</span></li>  -->
        <span class="topbar-svg-button"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M5.41 11H21a1 1 0 0 1 0 2H5.41l5.3 5.3a1 1 0 0 1-1.42 1.4l-7-7a1 1 0 0 1 0-1.4l7-7a1 1 0 0 1 1.42 1.4L5.4 11z"/></svg> </span>
    {% endif %}

    {% if page_obj.has_next %}
        <a id="page-next-button" title="Pagination / List next items" class="topbar-svg-button" href="/items?page={{ page_obj.next_page_number }}&{{url_state}}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M18.59 13H3a1 1 0 0 1 0-2h15.59l-5.3-5.3a1 1 0 1 1 1.42-1.4l7 7a1 1 0 0 1 0 1.4l-7 7a1 1 0 0 1-1.42-1.4l5.3-5.3z"/></svg>
        </a>
    {% else %}
        <span class="topbar-svg-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M18.59 13H3a1 1 0 0 1 0-2h15.59l-5.3-5.3a1 1 0 1 1 1.42-1.4l7 7a1 1 0 0 1 0 1.4l-7 7a1 1 0 0 1-1.42-1.4l5.3-5.3z"/></svg>
        </span>
        <!-- <li class="btn btn-primary disabled"><span>&raquo;</span></li>  -->
    {% endif %}            
</div>

<div class="sidebar">

    <ul class="sidebar-nav">
        <li><strong>User: </strong>{{ request.user.username }}</li>

        <li>
            <a href="/accounts/logout">Log out</a>
        </li>

        <li><a href='/items/new'>Add item</a> </li>

        <li><a href="/items?filter=all&order=new"    >All bookmarks</a></li>
        <li><a href="/items?filter=starred&order=new">Starred bookmarks</a></li>
        <li><a href="/items?filter=removed"          >Removed Bookmarks</a></li>
  
        <li><strong>File Uploads</strong></li>
        <li> <a href='/items?filter=upload'>Uploads</a> </li>

        <li><strong>Saved Search</strong></li>
        <li> <a href='/search/new'>New  saved search</a> </li>
        <li> <a href='/search/list'>Saved searches</a> </li>      

        <li><strong>Collections</strong></li>
        <li> <a href='/collection/list'>List collections</a> </li>
        <li> <a href='/collection/new'>Add new collection</a> </li>

        <li><strong>Tags</strong></li>
        <li> <a href='/tags' title="List all user-defined tags">List tags</a> </li>

        <li><strong>Miscellaneous Filters</strong></li>
        <li> <a href='/items?filter=doctype&A0=search%20engine'>Search Engine</a> </li>
        <li> <a href='/items?filter=doctype&A0=news'>News outlets</a> </li>
        <li> <a href='/items?filter=doctype&A0=community'>Online Forums and Communities</a> </li>
        <li> <a href='/items?filter=doctype&A0=online%20store' 
                title="Filter online store bookmarks such as Amazon, Ebay, BestBuy, Aliexpress ..." 
                >Online Store</a> </li>
        <li> <a href='/items?filter=doctype&A0=follow'>Followed social media accounts</a> </li>

        <li><strong>Documents Filters</strong></li>
        <li> <a href='/items?filter=doctype&A0=book'>Books or online books</a> </li>    
        <li> <a href='/items?filter=doctype&A0=paper'>Papers</a> </li>        
        <li> <a href='/items?filter=doctype&A0=thesis'>Thesis</a> </li>    
        <li> <a href='/items?filter=doctype&A0=reference%20card'>Reference card, cheat sheet</a> </li>       

        <li><strong>Media Filters</strong></li>
        <li> <a href='/items?filter=doctype&A0=music'>Music</a> </li>
        <li> <a href='/items?filter=doctype&A0=video'>Video</a> </li>
        <li> <a href='/items?filter=doctype&A0=youtube%20channel'>Youtube Channel</a> </li>                        
    </ul>
</div>  


<div id="main-panel">

    <div id="top-panel">
        <h1>Bookmarks Storage</h1>

        <div class="div-form-search">
            <input id="search-entry" type='text' name='query' value='{{ request.GET.query }}'>
            </br>
            <input id="btn-search" class="btn-sm btn-info" type='submit' value="Search" > 
            <input id="btn-top-clear" class="btn-sm btn-info" type="reset" value="Clear" >

            <!-- Set search mode  -->
            <select name="mode" id="search-mode-selector" title="Select search mode.">
                <option value="AND">AND</option>
                <option value="OR">OR</option>
            </select>
            <a class="topbar-svg-button" href="/search/list" title="Saved search.">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path class="heroicon-ui"
                        d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" />
                </svg>
            </a>
        </div>
    </div>

    <table class="table-buttons">
        <tr>
            <th id="btn-table-add-bookmark" >
                Quick Add Bookmark
            </th>
        </tr>
        <tr >
            <th id="btn-tag-filter"> Filter by tag</th>
        </tr>
        <tr>
            <th>
                <!-- Set search mode  -->
                <select id="theme-selector-box" title="Select web site theme" onChange="selection_changed">
                    <option value="dark_mode">Dark mode</option>
                    <option value="light_mode">Light mode</option>
                </select>
            </th>
        </tr>
    </table>

    <div class="div-file-upload">
        <span>File Upload</span> <br>
        <input id="btn-file-upload" class="btn-sm btn-info" type="submit" name="submit" value="Upload"/>
        <input id="file-choose" type="file" name="file-data" />
    </div>

    <span style="font-weight:bold">
        Found {{count}} results / Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

</div>

