{% load static %}
<!DOCTYPE html>
<head>
        <title> Bookmark Manager - {{ page_title }} </title>        

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <link rel="icon" href={% static "images/favicon.png" %} type="image/png" sizes="16x16" /> 
    <!--     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
            <!--  Reference Prevent Page Zooming in Mobile Browsers: https://davidwalsh.name/zoom-mobile-browsers -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
        <!-- Bootstrap CSS -->
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link rel="stylesheet" href={% static "bootstrap.min.css" %} />
        <link rel="stylesheet" href="/static/style.css?rnd=10" />        
        
        <!-- TOAST JavaScript  Library -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

       
       <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<!-- 
       <script type="text/javascript" src  ="/static/dialog-polyfill.js"></script>
       <link   rel="stylesheet"       href ="/static/dialog-polyfill.css" /> -->
        
       <script type="module" src="/static/dialogs.js"></script>
       
       <script type="module" src="/static/main.js"></script>
      <!--  <script type="text/javascript" src="/static/main.js"></script> -->
     
        <script type="module" src="/static/tsutils.js"> </script>
        <script type="module" src="/static/tsmain.js"> </script>

        <script type="module">
            import * as tsutils from "/static/tsutils.js";
            import * as tsmain  from "/static/tsmain.js";
            window["tsutils"] = tsutils.tsutils;
            window["tsmain"] = tsmain;
        </script>
      
        <script type="text/javascript">
            generated_token = "{{ csrf_token }}";
        </script>
    </head>
