{% extends "base.html" %}

{% block content %}


{% if user.is_authenticated %}
        Welcome user: {{ request.user.username }} / logged as {{ request.user.email }}                
        <ul>
            <li><a class="btn-sm btn-primary" href="/accounts/logout">Logout</a></li>
        </ul>
        
{% else %}
        Welcome user: Anonymous user.
        <ul>
            <li>
                <a class="btn-sm btn-primary" href="/accounts/login" 
                   title="Click here to login (authenticate)">Login</a>

                <a class="btn-sm btn-primary" href="/accounts/signup" 
                   title="Click here to sign up (register)">Sign up</a>           
            </li>                
        </ul>        
{% endif %}



<h1> Index </h1>

<h2>Logout</h2>

<ul>
    <li>  <a href='/accounts/logout'>User Logout</a> </li>
</ul>


<h2> Saved Search </h2>

<ul>    
    <li> <a href='/search/list'>Saved searches</a> </li>
    <li> <a href='/search/new'>Add new saved search</a> </li>
</ul>

Search Items:

<div class="">

            <input type="hidden" name="filter" value="search" /> 
            <input id="search-entry" type='text' name='search' value='{{ request.GET.search }}' > 
            <input id="btn-search"    class="btn-sm btn-info" type='button' value="Search" > 
            <input id="btn-top-clear" class="btn-sm btn-info" type="reset" value="Clear">
</div>      
<h2> Items </h2>

<ul>
    <li>  <a href='/items/new'>Add item</a> </li>
    <li>  <a href='/items?filter=all'>All bookmarks</a> </li>
    <li>  <a href='/items?filter=starred'>Starred bookmarks</a>  </li>    
    <li>  <a href='/items?filter=removed'>Removed bookmarks</a> </li>
</ul>

<h2> Collection </h2>

<ul>    
    <li> <a href='/collection/list'>List collections</a> </li>
    <li> <a href='/collection/new'>Add new collection</a> </li>
</ul>

<h2>Filter by Bookmark type </h2>

General: 

<ul>    
    <li> <a href='/items?filter=doctype&A0=search%20engine'>Search Engine</a> </li>
    <li> <a href='/items?filter=doctype&A0=news'>News outlets</a> </li>
    <li> <a href='/items?filter=doctype&A0=community'>Online Forums and Communities</a> </li>
    <li> <a href='/items?filter=doctype&A0=online%20store' 
            title="Filter online store bookmarks such as Amazon, Ebay, BestBuy, Aliexpress ..." 
          >Online Store</a> </li>
    <li> <a href='/items?filter=doctype&A0=follow'>Followed social media accounts</a> </li>
</ul>

Documents: 

<ul>
    <li> <a href='/items?filter=doctype&A0=book'>Books or online books</a> </li>    
    <li> <a href='/items?filter=doctype&A0=paper'>Papers</a> </li>        
    <li> <a href='/items?filter=doctype&A0=thesis'>Thesis: phd, master, undergrad thesis</a> </li>    
    <li> <a href='/items?filter=doctype&A0=reference%20card'>Reference card, cheat sheet</a> </li>       
</ul>

Media: 

<ul>
    <li> <a href='/items?filter=doctype&A0=music'>Music</a> </li>
    <li> <a href='/items?filter=doctype&A0=video'>Video</a> </li>
    <li> <a href='/items?filter=doctype&A0=youtube%20channel'>Youtube Channel</a> </li>        
</ul>

Tooling: 

<ul>
    <li> <a href='/items?filter=doctype&A0=online_tool'>Online tool, tooling</a> </li>
    <li> <a href='/items?filter=doctype&A0=developer_tool'>Developer tool, tooling</a> </li>    
</ul>


{% endblock %}
