{% extends "base.html" %}
{% block content %}

<h1> Index </h1>

<h2>Logout</h2>

<ul>
    <li>  <a href='/accounts/logout'>User Logout</a> </li>

    {% if request.session.video_toggle %}
      <li> <a href="/options/video_toggle">Disable Youtube Video Embedding</a> </li>    
    {% else %}
      <li> <a href="/options/video_toggle">Enable Youtube Video Embedding</a> </li>    
    {% endif %}
</ul>


<h2> Saved Search </h2>

<ul>    
    <li> <a href='/search/list'>Saved searches</a> </li>
    <li> <a href='/search/new'>Add new saved search</a> </li>
</ul>

Search Items:

<div class="">
        <form method='GET' action="/items" class="form-group">
            <input type="hidden" name="filter" value="search" /> 
            <input type='text' name='search' value='{{ request.GET.search }}'>
            <input class="btn btn-info" type='submit' value="Search">
        </form> 
</div>      

<h2> Items </h2>

<ul>
    <li>  <a href='/items'>All items ordered by last created</a> </li>
    <li>  <a href='/items?filter=latest'>All items ordered by creation time</a> </li>
    <li>  <a href='/items?filter=removed'>Removed items</a> </li>
    <li>  <a href='/items?filter=starred'>Starred Items</a>  </li>
    <li>  <a href='/items/new'>Add item</a> </li>
</ul>

<h2> Collection </h2>

<ul>    
    <li> <a href='/collection/list'>List collections</a> </li>
    <li> <a href='/collection/new'>Add new collection</a> </li>
</ul>

<h2>Filter by Document type </h2>

<ul>    

    <li> <a href='/items?filter=doctype&A0=search%20engine'>Search Engine</a> </li>

    <li> <a href='/items?filter=doctype&A0=news'>News outlets</a> </li>

    <li> <a href='/items?filter=doctype&A0=community'>Online Forums and Communities</a> </li>

    <li> <a href='/items?filter=doctype&A0=book'>Books or online books</a> </li>
    
    <li> <a href='/items?filter=doctype&A0=paper'>Papers</a> </li>
    

    <li> <a href='/items?filter=doctype&A0=thesis'>Thesis: phd, master, undergrad thesis</a> </li>

    <li> <a href='/items?filter=doctype&A0=music'>Music</a> </li>
    <li> <a href='/items?filter=doctype&A0=video'>Video</a> </li>
    <li> <a href='/items?filter=doctype&A0=youtube%20channel'>Youtube Channel</a> </li>

    <li> <a href='/items?filter=doctype&A0=online%20store' 
            title="Filter online store bookmarks such as Amazon, Ebay, BestBuy, Aliexpress ..." 
          >Online Store</a> </li>

    <li> <a href='/items?filter=doctype&A0=follow'>Followed social media accounts</a> </li>
    
</ul>


<h2> Bookmarklet </h2>

<ul>    
    <li> <a href="javascript:(function()%7Bvar%20baseUrl%20%3D%20%22http%3A%2F%2Flocalhost%3A8000%2Fitems%2Fadd%3F%22%3B%0Awindow.location.href%20%3D%20baseUrl%20%2B%20%22title%3D%22%20%2B%20encodeURI(document.title)%20%2B%20%22%26url%3D%22%20%2B%20encodeURI(document.URL)%3B%7D)()%3B">save to bmanager (localhost)</a> </li>
    <li> <a href="javascript:(function()%7Bvar%20baseUrl%20%3D%20%22http%3A%2F%2Flocalhost%3A8000%2Fitems%2Fadd%3F%22%3B%0Awindow.location.href%20%3D%20baseUrl%20%2B%20%22title%3D%22%20%2B%20document.title%20%2B%20%22%26url%3D%22%20%2B%20document.URL%3B%7D)()%3B">Save bookmark to pybm (localhost)</a> </li>
    <li> <a href="javascript:(function()%7Bvar%20baseUrl%20%3D%20%22http%3A%2F%2F192.168.18.157%3A8000%2Fitems%2Fadd%3F%22%3B%0Awindow.location.href%20%3D%20baseUrl%20%2B%20%22title%3D%22%20%2B%20document.title%20%2B%20%22%26url%3D%22%20%2B%20document.URL%3B%7D)()%3B">Save to Bookmark Manager (local network)</a> </li>
</ul>

Bookmarklet Code: 

<pre>
    var baseUrl = "http://localhost:8000/items/add?";
    window.location.href = baseUrl + "title=" + document.title + "&url=" + document.URL;
</pre>

{% endblock %}
